<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.etlJob" @keyup.enter="query" placeholder="任务名称">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
			<#if shiro.hasPermission("etl:job:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("etl:job:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("etl:job:delete")>
            <a class="btn btn-primary disabled" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
            <a class="btn btn-primary" @click="rerun"><i class="fa fa-arrow-circle-right"></i>&nbsp;重跑任务</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        
        <form class="form-inline">


                    <div class="form-group">
                        <div class="col-sm-6 control-label">系统名称</div>
                        <div class="col-sm-6">
                            <input  type="text" class="form-control" v-model="job.etlSystem" placeholder="系统名称"/>
                        </div>
                    </div>
														                    <div class="form-group">
                        <div class="col-sm-6 control-label">作业名称</div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.etlJob" placeholder="作业名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-6 control-label">服务器名称</div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.etlServer" placeholder="服务器名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">描述</div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.description" placeholder="描述"/>
                        </div>
                    </div>
											                    <div class="form-group " style="display:none">
                        <div class="col-sm-2 control-label">周期日</div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.frequency" value="" placeholder="周期日"/>
                        </div>
                    </div>
						<div class="form-group">
                        <!--<div class="col-sm-2 control-label">周期类型</div>-->
                        <!--<div class="col-sm-10">-->
                            <!--<input type="text" class="form-control" v-model="job.jobtype" placeholder="周期类型"/>-->
                        <!--</div>-->
                            <div class="col-sm-2 control-label">周期类型</div>
                            <select id="jobtypeid" class="selectpicker" v-model="job.jobtype" title="请选择周期类型" onchange="" style="width: 275px">
                                <option  selected value="0">日作业</option>
                                <option  value="-1" disabled>月作业</option>
                            </select>
                       </div>
                    <div class="form-group">
                         <div class="col-sm-2 control-label">是否生效</div>
                             <select id="enableid" class="selectpicker" v-model="job.enable" title="请选择是否生效" onchange="" style="width: 275px">
                                   <option  selected value="1">生效</option>
                                   <option  value="0" >失效</option>
                              </select>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">开始时间</div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.lastStarttime" placeholder="开始时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">结束时间</div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.lastEndtime" placeholder="结束时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">运行状态</div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.lastJobstatus" placeholder="运行状态"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">数据日期</div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.lastTxdate" placeholder="数据日期"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.lastFilecnt" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.lastCubestatus" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.cubeflag" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">检查标志</div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.checkflag" placeholder="检查标志"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.autooff" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.checkcalendar" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.calendarbu" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.runningscript" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">会话ID</div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.jobsessionid" placeholder="会话ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.expectedrecord" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.checklaststatus" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group" style="display: none">
                        <div class="col-sm-2 control-label" >是否时间触发</div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.timetrigger" placeholder="是否时间触发" value="N" disabled/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">优先级</div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="job.priority" placeholder="优先级" value="0" disabled/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/etl/job.js?_${.now?long}"></script>
</body>
</html>