<!DOCTYPE html>
<html>
<head>
<title>作业模板版本信息</title>
<#include "/header.html">

</head>
<body>
<div id="rrapp">
	<div class="grid-btn">
		<!--<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="q.scriptId" @keyup.enter="query" placeholder="模板ID">
		</div>
		<a class="btn btn-default" @click="query">查询</a>-->
		&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>
	</div>
	<div style="padding: 0 10px">
		<el-table
				:data="dataPage.list"
				border
				size="small"
				height="452"
				:stripe="true"
				style="width: 100%">
			<el-table-column
					label="序号"
					:formatter="colIndex"
					width="50"
					align="center">
			</el-table-column>
<!--			<el-table-column-->
<!--					prop="id"-->
<!--					label="日志ID"-->
<!--					:show-overflow-tooltip="true"-->
<!--					align="center">-->
<!--			</el-table-column>-->
			<el-table-column
					prop="actions"
					label="修改类型"
					:show-overflow-tooltip="true"
					align="center">
			</el-table-column>
			<el-table-column
					prop="message"
					label="修改说明"
					:show-overflow-tooltip="true"
					align="center">
			</el-table-column>
			<el-table-column
					prop="author"
					label="修改人"
					:show-overflow-tooltip="true"
					align="center">
			</el-table-column>
			<el-table-column
					prop="logdate"
					label="修改时间"
					:show-overflow-tooltip="true"
					align="center">
			</el-table-column>
			<el-table-column
					label="操作"
					:show-overflow-tooltip="true"
					align="center">
				<template slot-scope="scope">
					<a href="#" @click="read(scope.row.id)">查看</a>
					<span>|</span>
					<a href="#" @click="restore(scope.row.id)">还原</a>
				</template>
			</el-table-column>
		</el-table>
		<el-pagination
				@size-change="handleSizeChange"
				@current-change="handleCurrentChange"
				:current-page="dataPage.currPage"
				:page-size="dataPage.pageSize"
				:page-sizes="[10, 20, 30]"
				layout="total, sizes, prev, pager, next, jumper"
				:total="dataPage.totalCount">
		</el-pagination>
	</div>

	<el-dialog title="作业模板详情" :visible="myModal" :close-on-click-modal="false" :show-close="false">
		<textarea  ref="scriptDetail" style="width:100%;" value=""></textarea>
		<div slot="footer" class="dialog-footer">
			<a class="btn btn-default btn-sm" @click="myModal = false">关闭模板</a>
		</div>
	</el-dialog>

</div>
<link href="${request.contextPath}/statics/libs/codemirror/lib/codemirror.css" rel="stylesheet">
<link href="${request.contextPath}/statics/libs/codemirror/theme/dracula.css" rel="stylesheet">
<script src="${request.contextPath}/statics/libs/codemirror/lib/codemirror.js"></script>
<script src="${request.contextPath}/statics/libs/codemirror/mode/clike.js"></script>
<script src="${request.contextPath}/statics/libs/codemirror/mode/perl.js"></script>
<script src="${request.contextPath}/statics/libs/codemirror/mode/shell.js"></script>
<script src="${request.contextPath}/statics/libs/codemirror/mode/sql.js"></script>
<script src="${request.contextPath}/statics/libs/codemirror/mode/python.js"></script>
<script src="${request.contextPath}/statics/js/modules/etl/script_log.js?_${.now?long}"></script>
</body>
</html>
